<h2 class="title is-2">Llamada para patrocinios 🤝 </h2>
<section class="hero is-warning">
  <div class="hero-body darktext">
    <p>
      ¿Te gustaría patrocinar la próxima versión del evento más importante sobre desarrollo software con Python?
      No dudes en ponerte en contacto con la organización para ello.
    </p>
    <br>
    <p>Para conocer todas las ventajas descarga nuestro folleto para patrocinios.</p>

    <br>
    <div>
      <a style="
    color: #1d4ed8; 
    text-decoration: none; 
    font-weight: bold; 
    padding: 4px 8px; 
    border: 1px solid #1d4ed8; 
    border-radius: 4px; 
    transition: background-color 0.3s, color 0.3s;"
        onmouseover="this.style.backgroundColor='#1d4ed8'; this.style.color='#fff';"
        onmouseout="this.style.backgroundColor='transparent'; this.style.color='#1d4ed8';"
        href="{{SITEURL}}/sponsorship.html">Visita nuesta sección dedicada para poder ver todas las ventajas que el
        evento ofrece a los patrocinadores</a>
    </div>

    <br>

    <a class="button is-normal is-info is-light m-1" href="{{SITEURL}}{{ SPONSORS_DOSSIER_ES }}" download>
      Descargar dosier (ES)
    </a>
    <a class="button is-normal is-warning is-light m-1" href="{{SITEURL}}{{ SPONSORS_DOSSIER_EN }}" download>
      Download brochure (EN)
    </a>



    <br>
  </div>
</section>
<br>