
<section class="hero is-medium is-link cover">
    {% for warning in EVENT_WARNINGS %}
    <div class=" warning-element notification {{ warning.color }}">
        ⚠️ {{warning.message}}
    </div>
    {% endfor %}
    <div class="hero-body cover" id="cover-image-grx" style="background: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.3)),  url('{{ SITEURL }}{{ SELECTED_WALLPAPER }}'); background-size: cover; min-height: 95vh">
        <div class="hero-body-content">
            <div class="columns">
                <div class="column has-text-centered">
                    <figure class="image logo" style="padding: 3rem;">
                        <img src="{{ SITEURL }}{{ MAIN_LOGO }}" alt="{{ SITENAME }}">
                    </figure>
                    <br>
                    <h3 class="title is-3 transparent-black-background cover-box" style="padding: 15px">{{ EVENT_DATE_STR }}</h3>
                </div>
                <div class="column transparent-black-background cover-box">
                    <h1 class="title is-1">
                        {{EVENT_TITLE }}
                        <span><h3 class="title is-3">{{ EVENT_SUBTITLE }}</h3></span>
                    </h1>
                    <p>Forma parte de la mayor conferencia nacional de Python, donde cientos de entusiastas, profesionales y empresas se reúnen para compartir conocimientos, inspirarse y hacer comunidad.</p>
                    <br>
                    <p><span class="highlight">📅 Charlas de alto nivel, talleres prácticos y networking con los mejores del sector.</span></p>
                    <p><span class="highlight">💡 Descubre oportunidades profesionales únicas y lleva tus habilidades al siguiente nivel.</span></p>
                    <p><span class="highlight">🤝 ¿Tienes una empresa? Conviértete en patrocinador y consigue una visibilidad inigualable en el corazón de la comunidad Python.</span></p>
                    
                </div>
            </div>
        </div>
    </div>
</section>
