<h1 style="display: none;">{{EVENT_TITLE}}</h1>
<h2 style="display: none;">{{EVENT_SUBTITLE}}</h2>

<section class="hero is-info is-fullheight landing" style="background: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.3)),  url('{{ SITEURL }}{{ SELECTED_WALLPAPER }}') no-repeat center fixed; background-size: cover;">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column">
                <figure class="image logo" style="background-color: rgba(147,147,147,0.6);">
                    <img alt="{{ SITENAME }}" src="theme/images/logos/PYCONES_ORIGINAL_AZUL.png" style="padding: 3rem;">
                </figure>
                <br>
                <div class="transparent-black-background box">
                    <h1 class="title">{{ EVENT_START_DATE_STR }}</h1>
                    <h1 class="title">hasta</h1>
                    <h1 class="title">{{ EVENT_END_DATE_STR }}</h1>
                    <div class="container">
                        <div id="countdown">
                            <ul>
                                <li><span id="days"></span>días</li>
                                <li><span id="hours"></span>horas</li>
                                <li><span id="minutes"></span>minutos</li>
                                <li><span id="seconds"></span>segundos</li>
                            </ul>
                        </div>
                    </div>
                    <h2 class="subtitle">El mayor evento dedicado a Python en España, llega a Sevilla</h2>
                </div>
                {% include "_includes/index/newsletter_form.html" %}

                  <!-- Icon Buttons REDES sociales -->
                  {% if TWITTER_LINK %}

                      <a href="{{ TWITTER_LINK }}" class="button is-medium" target="_blank" aria-label="twitter">
                        <span class="icon">
                          <i class="fab fa-twitter fa-lg"></i>
                        </span>
                      </a>
                  {% endif %}
                  {% if YOUTUBE_LINK %}
                      <a href="{{ YOUTUBE_LINK }}" class="button is-medium" target="_blank" aria-label="youtube">
                        <span class="icon">
                          <i class="fab fa-youtube fa-lg"></i>
                        </span>
                      </a>
                  {% endif %}
                  {% if GITHUB_LINK %}
                      <a href="{{ GITHUB_LINK }}" class="button is-medium" target="_blank" aria-label="github">
                        <span class="icon">
                          <i class="fab fa-github fa-lg"></i>
                        </span>
                      </a>
                  {% endif %}
                  {% if EMAIL_LINK %}
                      <a href="{{ EMAIL_LINK }}" class="button is-medium" target="_blank" aria-label="email">
                        <span class="icon">
                          <i class="fa-regular fa-envelope"></i>
                        </span>
                      </a>
                  {% endif %}
                  {% if LINKEND_LINK %}
                      <a href="{{ LINKEND_LINK }}" class="button is-medium" target="_blank" aria-label="linkenin">
                        <span class="icon">
                          <i class="fa-brands fa-linkedin"></i>
                        </span>
                      </a>
                  {% endif %}
                  {% if INSTAGRAM_LINK %}
                     <a href="{{ INSTAGRAM_LINK }}" class="button is-medium" target="_blank" aria-label="instagram">
                      <span class="icon">
                         <i class="fab fa-instagram fa-lg"></i>
                     </span>
                    </a>
                   {% endif %}
                   {% if BLUESKY_LINK %}
                   <a href="{{ BLUESKY_LINK }}" class="button is-medium" target="_blank" aria-label="bluesky">
                    <span class="icon">
                       <i class="icon-bluesky"></i>
                   </span>
                  </a>
                 {% endif %}

            </div>
        </div>
    </div>
</section>
