<h2 class="title is-2">Localización 🗺</h2>
<p>TODO </p>
<cite>TODO</cite>
<section class="map-section">
    <iframe src="{{ MAP_IFRAME_LINK }}" id="map" loading="lazy" title="Parque Tecnológico de la Salud"></iframe>
</section>


<div class="container" id="app">
    <div id="image-modal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
        <div class="modal-card">
        <header class="modal-card-head">
        <p class="modal-card-title">Mapa del espacio</p>
        </header>
        <section class="modal-card-body">
            <p class="image is-4by3">
                <img src="./images/mapa_conferencia.png?style=centerme" alt="">
            </p>
        </section>
    </div>
</div>
