<h2 class="title is-2">Estadísticas de la última edición 🧮</h2>
<br>
<div class="columns is-vcentered statistic">
    <div class="column is-8">
        <div class="columns">
            <div class="column is-6 statistic-sponsors">
                <div class="statics-box">
                    <h2>💎 28 Patrocinadores</h2>
                    <p>Empresas que confiaron en el evento para llegar a un público amplio, mostrando su trabajo y su vida diaria</p>
                </div>
            </div>
            <div class="column is-6 statistic-days">
                <div class="statics-box">
                    <h2>🗓️ 3 Días de C  onferencia</h2>
                    <p>Con un día dedicado íntegramente a talleres y dos días completos con multitud de charlas y actividades. Uno de los eventos más importantes de España.</p>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-6 statistic-talks">
                <div class="statics-box">
                    <h2>🧑‍💻 +80 Talks & Workshops</h2>
                    <p>Keynotes, charlas y talleres para conocer las últimas tendencias sobre Python, buenas prácticas y la comunidad.</p>
                </div>
            </div>
            <div class="column is-6 statistic-collaborators">
                <div class="statics-box">
                    <h2>🤗 +8 Colaboradores</h2>
                    <p>Asociaciones, entidades y organismos gubernamentales que respaldan el evento con descuentos, regalos o impulsan áreas clave de la organización.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="column is-4 statistic-attendees">
        <div class="statics-box-big">
            <h2>🗺️ +800 Attendees</h2>
            <p>De todas partes de España, Europa y el mundo, respaldados por grandes comunidades como la EuroPython Society, Django Girls y ¡la propia Python Software Foundation! PyConES se ha consolidado como uno de los eventos que más talento y diversidad reúne a nivel global.</p>
        </div>
    </div>
</div>